body {
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #333;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  min-height: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 18px;
}

nav a:hover {
  color: rgb(255, 0, 234);
}

main {
  padding: 20px;
  font-size: 20px;
  flex-grow: 1;
}

footer {
  width: 100%;
  min-height: 50px;
  align-items: center;
  background: #eee;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}